.title-agenda {
	width: 80%;
	margin: auto;
    .knop {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        color: #ffffff;
        font-size: 20px;
        transition: .5s;
        i {
            padding-right: 4px;
        }

        &:hover {
            font-size: 25px;
        }
    }
    .knop1 {
        background-color: @first-color;
        &:hover {
            color: @first-color;
            background-color: lighten(@first-color, 20%);
            box-shadow: 0px 0px 0px 5px @first-color inset;
        }
    }
    .knop2 {
        background-color: @second-color;
        &:hover {
            color: @second-color;
            background-color: lighten(@second-color, 30%);
            box-shadow: 0px 0px 0px 5px @second-color inset;
        }
    }
    .knop3 {
        background-color: @third-color;
        &:hover {
            color: @third-color;
            background-color: lighten(@third-color, 20%);
            box-shadow: 0px 0px 0px 5px @third-color inset;
        }
    }
    .knop4 {
        background-color: @fourth-color;
        &:hover {
            color: @fourth-color;
            background-color: lighten(@fourth-color, 20%);
            box-shadow: 0px 0px 0px 5px @fourth-color inset;
        }
    }
}