.title-agenda {
  text-align: center;
}
.knop {
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}
.knop p {
  color: white;
}
.knop1 {
  background-color: #4087f2;
}
.knop2 {
  background-color: #990b0b;
}
.knop3 {
  background-color: #0b995b;
}
.knop4 {
  background-color: #f0a428;
}
.knop1:hover {
  background-color: rgba(64, 135, 242, 0.8);
}
.knop2:hover {
  background-color: rgba(153, 11, 11, 0.8);
}
.knop3:hover {
  background-color: rgba(11, 153, 91, 0.8);
}
.knop4:hover {
  background-color: rgba(240, 164, 40, 0.8);
}
body {
  background-color: red;
}
